<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationMagentoElasticsearch
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hippiemonkeys_modification>
            <magento_elasticsearch>
                <active>1</active>
                <index_builder_active>1</index_builder_active>
                <index_builder_max_result_window>10000</index_builder_max_result_window>
            </magento_elasticsearch>
        </hippiemonkeys_modification>
    </default>
</config>