<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys Web Inteligence EE (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationMagentoElasticsearch
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hippiemonkeys\Modification\Helper\Config\Section\Group\MagentoElasticsearch" type="Hippiemonkeys\Core\Helper\Config\Section\Group\Sub">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">magento_elasticsearch</argument>
            <argument name="activeField" xsi:type="string">active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\General</argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\ModificationMagentoElasticsearch\Helper\Config\IndexBuilder">
        <arguments>
            <argument name="section" xsi:type="string">hippiemonkeys_modification</argument>
            <argument name="group" xsi:type="string">magento_elasticsearch</argument>
            <argument name="activeField" xsi:type="string">index_builder_active</argument>
            <argument name="parentConfig" xsi:type="object">Hippiemonkeys\Modification\Helper\Config\Section\Group\MagentoElasticsearch</argument>
        </arguments>
    </type>
    <type name="Hippiemonkeys\ModificationMagentoElasticsearch\Plugin\IndexBuilder">
        <arguments>
            <argument name="config" xsi:type="object">Hippiemonkeys\ModificationMagentoElasticsearch\Helper\Config\IndexBuilder</argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Model\Adapter\Index\Builder">
        <plugin
            name="hippiemonkeys_modificationmagentoelasticsearch_indexbuilder"
            type="Hippiemonkeys\ModificationMagentoElasticsearch\Plugin\IndexBuilder"
            sortOrder="10"
            disabled="false"
        />
    </type>
</config>